.header {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  background-color: rosybrown;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 15px;
  color: white;
}
.container-fluid {
  position: absolute;

  box-shadow: 0 0 8px rgba(0, 0, 0fixed, 0.5);
  padding: 20px;
  margin: 15px;
  color: white;
  background-color: rosybrown;
}
