table{
    border: solid;
    width: 30vw;
    height: 20vh;
    margin-left: 35vw;
    margin-top: 10vh;
}
td,th{
    margin:2vw;
    border: solid;
    text-align: center;
}

.filterBlock{
    text-align: center;
    margin-top: 2vh;
}
input{
    margin: 0.5vw;
}